<div class="inner cover">
    <h1 class="cover-heading">AlwaysJS.com</h1>
    <p class="lead">
        簡約而不簡單
    </p>
</div>
<div class="mastfoot">
    <div>
        <p>
            Support by 
            <a href="">@Jerry</a>
        </p>
    </div>
</div>