<div class="jumbotron">
    <h1 class="page-header">Welcome to WWW.ALWAYSJS.COM</h1>  
    <p>
        This is a test project for webpack+vue.
    </p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>