<div v-cloak class="inner cover" id="testresult">
    <h2 class="cover-heading">{{demoTitle}}</h2>
    <div class="lead" v-html="context"></div>
    <p class="lead">
        <a v-on:click="nextresult" class="btn btn-lg btn-default">{{btnText}}</a>
    </p>
</div>